@charset "UTF-8";


.infoBox{
	position: relative;
	margin-top: 10px;
	width: 100%; 
	height: 300px;
	background: rgb(243, 243, 243);
}


.memberInfo{
	position: absolute;
	margin-top: 40px;
	margin-left: 50px;
	width: 100%;
	height: 100%;
	display: flex;

}

.img{
	border-radius: 100%;
	width: 130px;
	margin-right: 20px;
}

.memberInfo2{
	margin-top: 30px;
	width: 70%;
}

.memberInfo3{
	display: flex;
	margin-bottom: 10px;
	
}

.count{
	position:absolute;
	top: 75%;
	left: 18%;
}



