<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ss.cinema.mappers.MovieMapper">

	<resultMap type="movieDTO" id="movieResultMap">
		<id property="movieNo" column="MOVIE_NO"/>
		<result property="movieTitle" column="MOVIE_TITLE"/>
		<result property="movieStartDate" column="MOVIE_START_DATE"/>
		<result property="movieEndDate" column="MOVIE_END_DATE"/>
		<result property="movieDirector" column="MOVIE_DIRECTOR"/>
		<result property="movieActor" column="MOVIE_ACTOR"/>
		<result property="movieGenre" column="MOVIE_GENRE"/>
		<result property="movieAgeLimit" column="MOVIE_AGE_LIMIT"/>
		<result property="movieShowtime" column="MOVIE_SHOWTIME"/>
		<result property="movieNationality" column="MOVIE_NATIONALITY"/>
		<result property="movieSummary" column="MOVIE_SUMMARY"/>
		<result property="movieMainImage" column="MOVIE_MAIN_IMAGE"/>
		<result property="movieSubImage" column="MOVIE_SUB_IMAGE"/>
		<result property="movieSsubImage" column="MOVIE_SSUB_IMAGE"/>
		<result property="movieTrailer" column="MOVIE_TRAILER"/>
		<result property="ratingStarAVG" column="movieRating"/>
		<result property="movieReservation" column="RESERVATION_RATE"/>
	</resultMap>
	
	<resultMap type="ReviewDTO" id="reviewResultMap">
		<id property="reviewNo" column="REVIEW_NO"/>
		<result property="reviewMemberId" column="REVIEW_MEMBER_ID"/>
		<result property="reviewMovieNo" column="REVIEW_MOVIE_NO"/>
		<result property="reviewContent" column="REVIEW_CONTENT"/>
		<result property="reviewWriteDate" column="REVIEW_WRITE_DATE"/>
		<result property="reviewStarRating" column="REVIEW_STAR_RATING"/>
		<result property="reviewLikeCount" column="REVIEW_LIKE_COUNT"/>
		<result property="reviewTotal" column="total_reviews"/>
	</resultMap>
	
	<resultMap type="MemberDTO" id="memberResultMap">
		<id property="memberId" column="MEMBER_ID" />
		<result property="memberName" column="MEMBER_NAME" />
		<result property="memberPassword" column="MEMBER_PASSWORD" />
		<result property="memberPhone" column="MEMBER_PHONE" />
		<result property="memberEmail" column="MEMBER_EMAIL" />
		<result property="memberCoupon" column="MEMBER_COUPON" />
		<result property="memberAdmin" column="MEMBER_ADMIN" />
		<result property="memberStamp" column="MEMBER_STAMP" />
	</resultMap>
	

	<!-- 영화 리스트 정보 출력하기 -->
    <select id="getMovieListInfo" resultMap="movieResultMap">
 		SELECT
            m.movie_no,
            m.movie_title,
            m.movie_main_image,
            COALESCE(AVG(r.REVIEW_STAR_RATING), 0) AS movieRating
        FROM
            movie m
        LEFT JOIN
            review r ON m.movie_no = r.review_movie_no
        GROUP BY
            m.movie_no, m.movie_title, m.movie_main_image
    </select>
    
    <!-- 영화 상세 정보 출력하기 -->
    <select id="getMovieDetailInfo" parameterType="com.ss.cinema.dto.movieDTO" resultMap="movieResultMap">
		SELECT
		m.MOVIE_NO,
		m.MOVIE_TITLE,
		m.MOVIE_START_DATE,
		m.MOVIE_DIRECTOR,
		m.MOVIE_ACTOR,
		m.MOVIE_GENRE,
		m.MOVIE_AGE_LIMIT,
		m.MOVIE_SHOWTIME,
		m.MOVIE_NATIONALITY,
		m.MOVIE_MAIN_IMAGE,
		m.MOVIE_TRAILER,
		(SELECT MOVIE_SUMMARY FROM MOVIE WHERE MOVIE_NO = m.MOVIE_NO) AS
		MOVIE_SUMMARY,
		COALESCE(AVG(r.REVIEW_STAR_RATING), 0) AS movieRating
	FROM
		MOVIE m
	LEFT JOIN
		REVIEW r ON m.MOVIE_NO = r.REVIEW_MOVIE_NO
	WHERE
		m.MOVIE_NO = #{movieNo}
	GROUP BY
		m.MOVIE_NO,
		m.MOVIE_TITLE,
		m.MOVIE_START_DATE,
		m.MOVIE_DIRECTOR,
		m.MOVIE_ACTOR,
		m.MOVIE_GENRE,
		m.MOVIE_AGE_LIMIT,
		m.MOVIE_SHOWTIME,
		m.MOVIE_NATIONALITY,
		m.MOVIE_MAIN_IMAGE,
		m.MOVIE_TRAILER
    </select>

	<!-- 영화별 리뷰 출력 -->
	<select id="getMovieReviewInfo" parameterType="com.ss.cinema.dto.ReviewDTO" resultMap="reviewResultMap">
	SELECT
		R.REVIEW_MEMBER_ID,
		R.REVIEW_WRITE_DATE,
		R.REVIEW_CONTENT,
		R.REVIEW_STAR_RATING,
		R.REVIEW_LIKE_COUNT
		FROM
		MOVIE M
		JOIN
		REVIEW R ON M.MOVIE_NO = R.REVIEW_MOVIE_NO
		WHERE
		M.MOVIE_NO = #{movieNo}
		ORDER BY
		R.REVIEW_WRITE_DATE DESC
	</select>

	<!-- 영화별 리뷰 총 개수 -->
	<select id="getReviewTotal" parameterType="com.ss.cinema.dto.ReviewDTO" resultMap="reviewResultMap">
	SELECT
		COUNT(*) AS total_reviews
	FROM
		review r
	WHERE
		r.review_movie_no = #{movieNo}
	</select>
<!-- 	
	영화 예매율
	<select id="getMovieReservation" resultMap="movieResultMap">
	SELECT 
    	M.MOVIE_NO,
    	M.MOVIE_TITLE,
    	COALESCE(ROUND((COUNT(T.TICKET_NO) / (SELECT COUNT(*) FROM TICKET) * 100)), 0) AS RESERVATION_RATE
	FROM 
    	MOVIE M
	LEFT JOIN 
    	TICKET T ON M.MOVIE_NO = T.TICKET_MOVIE_NO
	GROUP BY 
    	M.MOVIE_NO, M.MOVIE_TITLE
	</select>
 -->	
	<!-- 영화별 예매율  -->
	<select id="getMovieReservationInfo" parameterType="com.ss.cinema.dto.movieDTO" resultMap="movieResultMap">
	SELECT 
	    M.MOVIE_NO,
	    M.MOVIE_TITLE,
	    COALESCE(ROUND((COUNT(T.TICKET_NO) / (SELECT COUNT(*) FROM TICKET) * 100)), 0) AS RESERVATION_RATE
	FROM 
	    MOVIE M
	LEFT JOIN 
	    TICKET T ON M.MOVIE_NO = T.TICKET_MOVIE_NO
	WHERE 
	    M.MOVIE_NO = #{movieNo}  
	GROUP BY 
	    M.MOVIE_NO, M.MOVIE_TITLE
	</select> 
	
	<!-- 예매율순 정렬 -->
	<select id="sortReservation" resultMap="movieResultMap">
	SELECT 
	    M.MOVIE_NO,
	    M.MOVIE_TITLE,
	    M.MOVIE_MAIN_IMAGE,
	    COALESCE(AVG(R.REVIEW_STAR_RATING), 0) AS movieRating,
	    COALESCE(ROUND((COUNT(T.TICKET_NO) / NULLIF(SUM(COUNT(T.TICKET_NO)) OVER (), 0)) * 100, 0), 0) AS RESERVATION_RATE
	FROM 
	    MOVIE M
	LEFT JOIN 
	    REVIEW R ON M.MOVIE_NO = R.REVIEW_MOVIE_NO
	LEFT JOIN 
	    TICKET T ON M.MOVIE_NO = T.TICKET_MOVIE_NO
	GROUP BY 
	    M.MOVIE_NO, M.MOVIE_TITLE, M.MOVIE_MAIN_IMAGE
	ORDER BY 
	    RESERVATION_RATE DESC
	</select>
	
	
	<!-- 별점순 정렬 -->
	<select id="sortmovieRating" resultMap="movieResultMap">
	SELECT 
	    M.MOVIE_NO,
	    M.MOVIE_TITLE,
	    M.MOVIE_MAIN_IMAGE,
	    COALESCE(AVG(R.REVIEW_STAR_RATING), 0) AS movieRating,
	    COALESCE(ROUND((COUNT(T.TICKET_NO) / NULLIF(SUM(COUNT(T.TICKET_NO)) OVER (), 0)) * 100, 0), 0) AS RESERVATION_RATE
	FROM 
	    MOVIE M
	LEFT JOIN 
	    REVIEW R ON M.MOVIE_NO = R.REVIEW_MOVIE_NO
	LEFT JOIN 
	    TICKET T ON M.MOVIE_NO = T.TICKET_MOVIE_NO
	GROUP BY 
	    M.MOVIE_NO, M.MOVIE_TITLE, M.MOVIE_MAIN_IMAGE
	ORDER BY     
	    movieRating DESC
	</select>
	
	
	 
    



</mapper>