<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ss.cinema.mappers.MainMapper">

	<resultMap type="movieDTO" id="movieResultMap">
		<id property="movieNo" column="MOVIE_NO" />
		<result property="movieTitle" column="MOVIE_TITLE" />
		<result property="movieStartDate" column="MOVIE_START_DATE" />
		<result property="movieEndDate" column="MOVIE_END_DATE" />
		<result property="movieDirector" column="MOVIE_DIRECTOR" />
		<result property="movieActor" column="MOVIE_ACTOR" />
		<result property="movieGenre" column="MOVIE_GENRE" />
		<result property="movieAgeLimit" column="MOVIE_AGE_LIMIT" />
		<result property="movieShowtime" column="MOVIE_SHOWTIME" />
		<result property="movieNationality" column="MOVIE_NATIONALITY" />
		<result property="movieSummary" column="MOVIE_SUMMARY" />
		<result property="movieMainImage" column="MOVIE_MAIN_IMAGE" />
		<result property="movieSubImage" column="MOVIE_SUB_IMAGE" />
		<result property="movieSsubImage" column="MOVIE_SSUB_IMAGE" />
		<result property="movieTrailer" column="MOVIE_TRAILER" />
		<result property="ratingStarAVG" column="movieRating" />
		<result property="movieReservation" column="RESERVATION_RATE" />
	</resultMap>

	<resultMap type="EventDTO" id="eventResultMap">
		<id property="eventNo" column="EVENT_NO" />
		<result property="eventName" column="EVENT_NAME" />
		<result property="eventDate" column="EVENT_DATE" />
		<result property="eventTitleImage" column="EVENT_TITLE_IMAGE" />
		<result property="eventSubImage" column="EVENT_SUB_IMAGE" />
	</resultMap>



	<!-- 예매율 순으로 영화 10개 목록 가져오기 -->
	<select id="getReserveTop" resultMap="movieResultMap">
		SELECT
		M.MOVIE_NO,
		M.MOVIE_TITLE,
		M.MOVIE_MAIN_IMAGE,
		M.MOVIE_AGE_LIMIT,
		M.MOVIE_TRAILER,
		M.MOVIE_GENRE,
		COALESCE(AVG(R.REVIEW_STAR_RATING), 0) AS movieRating,
		COALESCE(
		ROUND(
		(COUNT(T.TICKET_NO) /
		NULLIF(SUM(COUNT(T.TICKET_NO)) OVER (), 0)) *
		100, 0
		), 0
		) AS RESERVATION_RATE
		FROM
		MOVIE M
		LEFT JOIN REVIEW R ON
		M.MOVIE_NO = R.REVIEW_MOVIE_NO
		LEFT JOIN TICKET T ON M.MOVIE_NO =
		T.TICKET_MOVIE_NO
		WHERE
		M.MOVIE_END_DATE >= SYSDATE
		GROUP BY
		M.MOVIE_NO,
		M.MOVIE_TITLE,
		M.MOVIE_MAIN_IMAGE, M.MOVIE_AGE_LIMIT, M.MOVIE_TRAILER, M.MOVIE_GENRE
		ORDER BY
		RESERVATION_RATE DESC
		FETCH FIRST 10 ROWS ONLY
	</select>

	<!-- 개봉 예정일 순으로 영화 10개 목록 가져오기 -->
	<select id="getScheduledRelease" resultMap="movieResultMap">
		SELECT * FROM movie
		WHERE
		movie_start_date > (SELECT sysdate FROM dual)
		ORDER BY
		movie_start_date
		ASC FETCH FIRST 10 ROWS ONLY
	</select>

	<select id="getEventList" resultMap="eventResultMap">
		select * from event fetch
		first 3 rows only
	</select>

	<!-- 장바구니의 결제 전 항목수, 갯수 계산한 총 갯수 가져오기 -->
	<select id="countBasket" resultType="Integer"
		parameterType="string">
				select count(*) from
		basket where basket_member_id = #{sessionId}
		and
		basket_status = 'N'
	</select>

</mapper>