<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <settings>
        <!-- NULL 값을 처리할 때 사용되는 기본 jdbcType 설정 -->
        <setting name="jdbcTypeForNull" value="NULL"/>
    </settings>
</configuration>
