:root { --main-color: #fdd000;
}

body {
	margin: 0;
	padding: 0;
	width: 100vw;
}

header a {
	text-decoration: none;
	color: black;
}

/* header */
header {
	background: white;
	width: 100vw;
	height: 8rem;
	position: fixed;
	top: 0;
	border-bottom: 1px solid lightgray;
	align-items: center;
	text-align: center;
	z-index: 1;
}

.header--navbar {
	width: 1200px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding-left: 70px;
	padding-right: 70px;
	box-sizing: border-box;
	margin: auto;
}

.header--contents--container {
	height: 100%;
	width: 100%;
	display: flex;
	justify-content: center;
}

#header--logo--img {
	height: 70%;
}

.header--h1 {
	box-sizing: border-box;
	margin: 0;
	height: 100%;
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
}

.header--memberInfo {
	display: flex;
	margin: 0;
}

.header--memberInfo li{
	list-style-type: none;
	display: block;
	margin-right: 0px;
	margin-left: 40px;
	text-align: center;
	height: 100%;
}
.navbar--items li{
	list-style-type: none;
}

.header--icon {
	font-size: 25px;
	display: block;
	margin-bottom: 10px;
}

/* nav */
nav {
	border-bottom: 3px solid var(--main-color);
	background-color: white;
	margin-top: 1px;
	display: flex;
	justify-content: center;
	z-index: 1;
}

.navbar {
	height: 4rem;
}

.navbar--items {
	display: flex;
	gap: 50px;
	font-size: 1.2rem;
	width: 70%;
	padding-left: 25px;
	margin: 0;
}

.navbar--item {
	margin-right: 40px;
}

.nav--searchBox {
	background-color: white;
	display: flex;
	align-items: center;
	padding: 5px 30px 5px 30px;
	box-sizing: border-box;
	border-left: 1px solid lightgray;
	border-right: 1px solid lightgray;
	font-size: 1.2rem;
}

.nav--searchBox--input {
	width: 200px;
	border: none;
	outline: none;
	margin-right: 10px;
}

.nav--search--icon {
	font-size: 1.5rem;
}

<<<<<<< HEAD
.table {
	margin-top: 60px;
	width: 900px;
	text-align: center;
	border-collapse: collapse;
}
=======
>>>>>>> f99fff7297c7887be1486aadf71ace4218453964


