@charset "UTF-8";

:root {
	-main-color: #fdd000;
}

section {
	font-family: "Noto Sans KR", sans-serif;
}

/* 메인 트레일러 캐러셀 */
.main--tr {
	width: calc(100% -100px);
	height: 300px;
	position: absolute;
	left: 0;
	right: 0;
	margin: 0 auto;
	height: 700px;
	overflow: hidden;
}

#main--tr--video {
	height: 100%;
	z-index: -1;
}

#main--tr--carousel--inner {
	position: relative;
	align-items: center;
}

.main--tr--fadeout--box {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-image: linear-gradient(90deg, black 20%, transparent 40% 60%, black 80%);
	color: white;
	align-items: center;
}

#main--tr--carousel--item {
	height: 700px;
}

.main--tr--fadeout--details {
	position: absolute;
	left: 15%;
	top: 40%;
	width: 60%;
	vertical-align: middle;
}

.main--tr--details--title {
	font-size: 2.4rem;
	text-shadow: 0 0 10px #FFFFFF, 1px 1px 2px rgba(0, 0, 0, 0.46);
	width: 80%;
}

.main--tr--details--content {
	font-size: 1.4rem;
	margin-bottom: 50px;
}

#main--tr--detailBtn {
	border-radius: 40px;
}

/* 무비차트/상영예정작 */
.main--moviechart--wrap {
	padding-top: 800px;
	height: 1500px;
	background-color: #f8f8f8;
	text-align: center;
	box-sizing: border-box;
}

.main--moviechart--button {
	display: flex;
	justify-content: center;
}

.main--moviechart--tabBtn {
	display: flex;
	justify-content: space-between;
	width: 1200px;
	margin-bottom: 60px;
}

.main--event--tabBtn {
	display: flex;
	justify-content: space-between;
	width: 1200px;
	margin-bottom: 20px;
}

.main--moviechart--tabBtn--select {
	display: flex;
	justify-content: center;
}

.main--moviechart--tabBtn--select a {
	text-decoration: none;
	color: black;
}

#main--moviechart--sideBar {
	background: lightgray;
	width: 2px;
	height: 35px;
	margin-left: 20px;
	margin-right: 20px;
}

/* 무비차트,상영예정작 캐러셀 */
#main--moviechart--carousel {
	width: 70%;
	margin: 0 auto;
	position: relative;
}

/* 슬릭 슬라이드 스타일 */
.slick-slide {
	margin: 0 45px; /* 슬라이드 사이에 여백 추가 */
}

.slick-slide img {
	width: 100%;
	border-radius: 5px;
	transition: transform 0.5s ease, filter 0.5s ease;
	object-fit: cover;
}

.slick-center {
	box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
		rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}

.slick-center img {
	transform: scale(1);
	filter: none;
}

.slick-slide:not(.slick-center) img {
	filter: blur(1px);
	transform: scale(0.85);
}

.slick-prev, .slick-next {
	font-size: 0;
	color: transparent;
	z-index: 1;
	cursor: pointer;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	background: black;
	border-radius: 50%;
	padding: 10px;
	width: 40px;
	height: 40px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.slick-prev {
	left: -60px !important;
}

.slick-next {
	right: -40px !important;
}

/* 커스텀 화살표 아이콘 */
.slick-prev::before {
	content: "\f053";
	font-family: "Font Awesome 5 Free"; /* Font Awesome 5 Free를 사용 */
	font-weight: 900 !important; /* Font Awesome 5 Free의 경우, 아이콘의 굵기 조정 */
	font-size: 24px !important; /* 아이콘 크기 조정 */
	color: #7d7d7d !important;
}

.slick-next::before {
	content: "\f054";
	font-family: "Font Awesome 5 Free"; /* Font Awesome 5 Free를 사용 */
	font-weight: 900 !important; /* Font Awesome 5 Free의 경우, 아이콘의 굵기 조정 */
	font-size: 24px !important; /* 아이콘 크기 조정 */
	color: #7d7d7d !important;
}

/* 기본 배경 제거 */
.slick-prev, .slick-next {
	background: none;
	box-shadow: none;
	z-index: 0;
}

.main--moviechart--carousel--overlay {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.5);
	color: white;
	transition: opacity 0.3s ease;
	display: none;
	align-items: center;
	justify-content: center;
	z-index: 50;
	border-radius: 5px;
}

/* 가운데 슬라이드에서만 오버레이 보이기 */
.slick-slide.slick-center:hover .main--moviechart--carousel--overlay {
	display: flex;
}

.main--chart--slide--img {
	position: relative;
}

.main--chart--rank {
	display: none;
}

.slick-slide.slick-center .main--chart--rank {
	position: absolute;
	top: 0;
	left: 0;
	background-color: red;
	color: white;
	border-radius: 5px 0px 10px 0px;
	display: block;
	font-size: 15px;
	padding: 5px 15px;
	max-width: 200px;
}

/* 슬라이드 아이템 감싸는 컨테이너 */
.slide-item {
	position: relative;
	overflow: hidden;
	transition: box-shadow 1s ease;
}

/* 이벤트 배너 */
.main--banner--Wrap {
	width: 1200px;
	margin: auto;
	padding-top: 100px;
}

.main--banner--event--Wrap {
	display: flex;
	justify-content: space-around;
}

.main--banner--event {
	border: 3px solid #fdd000;
	height: 620px;
	padding: 60px;
	box-sizing: border-box;
}

.main--event--content {
	width: 50%;
}

.main--event--Tab {
	display: flex;
	justify-content: space-between;
	margin-bottom: 30px;
}

.main--event--item {
	display: flex;
	margin-bottom: 25px;
}

.main--event--card {
	width: 750px;
	border-right: 1px solid lightgray;
	border-radius: 20px 0px 0px 20px;
}

.main--event--stamp {
	width: 450px;
	border-left: 1px solid lightgray;
	border-radius: 0px 20px 20px 0px;
}

.main--event--img {
	width: 30%;
	border-radius: 10px;
	border: 1px solid lightgray;
}

.main--event--content {
	margin-left: 30px;
	display: flex;
	align-items: center;
}

.main--event--content span {
	font-size: 1.3rem;
}

.main--chart--AgeImg {
	display: none !important;
}

.slick-slide.slick-center .main--chart--AgeImg {
	width: 30px !important;
	height: 30px;
	position: absolute;
	top: 0;
	right: 0;
	display: block !important;
}

#main--stamp{
	margin: 0;
	text-align: center;
	display: flex;
	justify-content: center;
	width: 100%;
	height: 80%;
	position: relative;
}
#main--stamp--Wrap{
	height: 85%;
	display: flex;
	align-items: center;
}
#main--stamp--table{
	margin: 0;
	width: 100%;
	height: 100%;
}
.main--stamp--needLogin{
	width: 100%;
	height: 100%;
	background-color: white;
	opacity: 0.8;
	position: absolute;
	top: 0;
	left: 0;
	display: flex;
	align-items: center;
	justify-content: center;
}
.main--stamp--needLogin--input{
		
}
.main--stamp--needLogin h5{
	font-size: 25px;
	opacity: 1;
}
#main--stamp--loginBtn{
	margin-top: 30px;
	opacity: 1;
}