body{
  font-family: "Noto Sans KR", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;	
}

#detail--container{
	width: 100%;
	height : 2598px;
}

#detail--contents{
	width: 1200px;
	height: 2598px;
	margin: 0 auto;
}

.detail--wrap-movie-detail{
	width: 100%;
	height: 2598px;
}

.detail--sect-base-movie{
	width: 100%;
	height: 540px;
	display: flex;
	padding: 40px 0px 0px;
}

.detail--box-image{
	width: 350px;
	height: 500px;
}

.detail--thumb-image {
    position: relative;
    display: inline-block;
}

.detail--movie-poster {
    display: block;
    width: 100%; 
    height: auto; 
}

.detail--age {
    position: absolute;
    top: 5px;
    left: 5px;
    width: 25px;
    height: 25px;
    border-radius: 5px;
}

.detail--box-contents{
	width: 850px;
	height: auto;
	margin: 0px 0px 0px 50px;
}

.detail--title{
	display: inline;
	font-size: 30px;
}

.detail--score{
	display: flex;
	margin : 25px 0px 0px;
	padding: 0px 0px 15px;
	border-bottom: solid 1px lightgray;
	font-size: 16px;
}

.detail--percent{
	color:#666666;
}

.detail--fa--star{
	color: red;
}

.detail--star-rating{
	margin: 0px 0px 0px 8px;
	border-left: solid 1px lightgray;
	padding: 0px 0px 0px 8px;
}

.detail--box-info{
	padding: 15px 0px 0px;
}

.detail--box-info-ui{
	list-style: none;
	padding: 0;
	margin: 0;
	font-size: 15px;
	font-weight: 400;
}

.detail--box-info-ui-li{
	padding: 0px 0px 8px 0px;
}

.detail--like{
	display: inline-block;
	width: auto;
	height: auto;
}

.detail--link-reservation{
	display:flex;
	justify-content:center;
	align-items:center;
	width:200px;
	height: 66px;
	text-decoration: none;
	font-weight:bold;
	font-size:20px;
	background:#FDD000;
	color: white;
	text-align: center;
	border-radius: 5px;
	margin: 100px 0px 0px;
}

.detail--cols-content{
	width:100%;
	height: auto;
}

.detail--sect-story-movie{
	padding: 40px 0px 0px;
	line-height: 2;
}

.detail--sect-trailer-movie{
	padding: 40px 0px 0px;
}

.detail--sect-trailer-movie-heading{
	height: 50px;
	margin: 0px 0px 40px;
	background-color: #F6F6F6;
	display: flex;
	align-items: center;
}

.detail--sect-trailer-movie-heading > h4{
	font-weight: bold;
	margin: 0px 0px 0px 16px;
}

.detail--video-ul{
	width: 1210px;
	margin: 0px 0px 0px -10px;
	padding: 0px;
	display: flex;
	list-style : none;
}
.detail--video-li{
	width: 33.33%;
	margin: 0px 0px 15px 10px;
}

.detail--video-image-div{
	width: 100%;
	height: 226.27px;
	position: relative;
}

.detail--video-image-div > a{
	display: block;
    width: 100%;
    height: 100%;
    text-decoration: none;
}

.detail--video-image-div > a > span{
	display: block;
    width: 100%;
    height: 100%;
    position: relative;
}

.detail--video-image{
	width: 100%;
	height: auto;
	border-radius: 5px;
}

.detail--ico-play{
	width : 80px;
	height: 80px;
	position: absolute;
    bottom: 5px;
    right: 5px;
}

.detail--video-contents{
	width: 31%;
	height: auto;
	margin: 10px 0px 0px;
}

.detail--sect-stillcut-movie{
	padding: 40px 0px 0px;
	margin: 0px 0px 30px;
}

.detail--carouselExample {
    width: 1200px;
    margin: 0 auto; /* 캐러셀을 중앙에 정렬 */
    
    height: 500px;
}

#detail--carousel-inner {
    width: 100%;
    height: auto;
}

.detail--carousel-item {
    width: 100%;
    height: 100%; /* 부모 요소에 맞게 설정 */
}

.detail--carousel-image {
    width: 100%;
    height: 100%; /* 부모 요소에 맞게 설정 */
    object-fit: contain; /* 이미지가 컨테이너에 맞추어져도 원본 비율을 유지 */
}

/* .detail--carousel-control-prev{
}

.detail--carousel-control-next{
	
} */

.detail--carousel-control-prev-icon{
	 filter: invert(0%) sepia(100%) saturate(0%) hue-rotate(0deg) brightness(0%) contrast(100%);
	}
	
.detail--carousel-control-next-icon{
	 filter: invert(0%) sepia(100%) saturate(0%) hue-rotate(0deg) brightness(0%) contrast(100%);
}

.detail--sect-stillcut-movie {
	height: 700px;
    margin: 0px 0px 100px;
}

.detail--sect-review-movie {
    margin:30px 0px 0px;
    
}

.detail--carousel {
    width: 1200px;
    margin: 0 auto;
}

detail--hr{
	border-bottom: solid 2px gray;
}

.detail--review-list {
    list-style-type: none;
    padding: 0px;
}

.detail--review-top-info{
	padding: 15px 0px 15px 30px;
	
}

.detail--review-name{
	display: block;
	font-size: 16px;
	padding-bottom: 10px;
}

.detail--review-date{
	font-size: 16px;
}

.detail--review--like{
	border-left: solid 1px lightgray;
}

.detail--review--like{
	margin
}

.detail--review-info-contents{
	padding-bottom: 8px;
	font-size: 18px;
}

.detail--review-info{
	border-bottom: solid 1px lightgray;
	padding: 0px 0px 30px 15px;
	
}

.detail--review--write{
	display: flex;
	align-items: center;
}

.detail--review--write > h4{
	margin:0px;
}

/* .detail--review--write > a{
	display:flex;
	justify-content:center;
	align-items:center;
	width:150px;
	height: 40px;
	text-decoration: none;
	font-weight:bold;
	font-size:12px;
	background:#FDD000;
	color: white;
	text-align: center;
	border-radius: 5px;
	margin-left: auto;
} */

