<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ss.cinema.mappers.PaymentMapper">


    <!-- 결제 정보 삽입 -->
    <insert id="insertPaymentData" useGeneratedKeys="true" keyProperty="paymentNo">
        INSERT INTO PAYMENT (PAYMENT_TYPE, PAYMENT_DATE, PAYMENT_PRICE, PAYMENT_IMP_UID)
        VALUES (#{paymentType}, SYSDATE, #{paymentPrice}, #{paymentImpUid})
    </insert>

    <!-- 장바구니 상태 업데이트 -->
    <update id="updateBasketStatus">
        UPDATE BASKET
        SET BASKET_STATUS = 'Y'
        WHERE BASKET_NO IN
        <foreach item="basketNo" collection="list" open="(" separator="," close=")">
            #{basketNo}
        </foreach>
    </update>

    <!-- 결제된 제품 정보 삽입 -->
    <insert id="insertPaymentProduct">
        INSERT INTO PAYMENT_PRODUCT (PAYMENT_PRODUCT_PAYMENT_NO, PAYMENT_PRODUCT_BASKET_NO)
        VALUES (#{paymentProductPaymentNo}, #{paymentProductBasketNo})
    </insert>





</mapper>
