@charset "UTF-8";

section{
	font-family: "Noto Sans KR", sans-serif;
}

.join--title{
	margin-top: 80px;
	text-align: center;
}

.join--container{
	text-align: center;
	display: flex;
	justify-content: center;
}

.join--Wrap{
	width: 1200px;
	box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08)
		0px 0px 0px 1px;
	border-radius: 7px;
}