*{

}


ul{
	padding: 0px;
	margin: 0px;
	list-style: none;
}
a{
	text-decoration: none;
	color: black;
}


.ticket--container{
	display: flex;
	width: 1200px;
	height: 400px;
	margin: auto;
}

.ticket--left{
	display: flex;
	flex-direction: column;
	width: 150px;
	height: 100%;
}

.left--section{
	flex:1;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	font-size: 18px;
	font-weight: bold;
	color: #666;
	width: 150px;
	position: relative;
}

.left--section > div > span{
	font-size: 16px;
}


.left--menu--info{
	position: absolute;
	display: none;
	flex-direction: column;
	width: 150px;
	height: 100%;
	background-color:#fdd000;
	left: 150px;
	gap: 5px;
	justify-content: center;
	align-items: center;
	font-weight: bold;
}



.left--section--menu:hover .left--menu--info{
	display: flex;
}


.left--menu--info > ul{
	padding-left: 6px;
	padding-right: 6px;
	height: 65%;
	margin: auto;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: start;
	margin-left: 10px;
}

.left--menu--info > ul > li{
	height: 22px;
}


.left--menu--info > ul > li > div {
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.left--menu--info > ul > li > div >input {
	width: 80%;
	float: right;
	height: 100%;
	outline: none;
	border: none;
	background: none;
	font-size: 14px;
	color: white;
}


.left--menu--info > ul > li > div > i {
    display: none; /* 기본적으로 숨김 */
}
      
.left--menu--info > ul > li > div > .fa-2xs{
	font-size: .400em;
}

.left--menu--info > ul > li > div > i.show{
	display: block;
}

.ticket--container div.selected{
	background-color: #fdd000;
	color: white;
	text-align: center;
	vertical-align: middle;
}

#loadingSpinner{
	display: none;
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	z-index: 9999;
	background-color: rgb(249, 249, 249);
	opacity: 0.7;
}

.loading--spinner {
	position: absolute;
	width: 40px;
	height: 40px;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}

.loading--spinner div {
	display: block;
	width: 40px;
	height: 40px;
	border: 5px solid #fdd000;
	border-top: 5px solid transparent;
	border-radius: 50%;
	animation: rotate 0.7s linear infinite;
}

@keyframes rotate{
	form{transform: rotate(0deg);}
	to{transform: rotate(360deg);}
}



