*{
	padding: 0px;
	margin: 0px;
	box-sizing: border-box;
	
	font-family: "Noto Sans KR", sans-serif;
 	font-optical-sizing: auto;
 	font-weight: <weight>;
 	font-style: normal;
}

ul{
	padding: 0px;
	margin: 0px;
	list-style: none;
}

a{
	text-decoration: none;
	color: black;
}

.btn{
	border: none;
	background-color: none;
	cursor: pointer;
	
}

.tap-menu > button:hover{
	background-color: #fdd000;
}

.ticket-main{
	width: 1100px;
	height: 400px;
	display: flex;
	justify-content: space-between;
}

.section{
	background-color: #f2f0e5;	
	height: 100%;
}

.section-movie{
	width: 240px;	
}

.section-theater{
	width: 280px;
}

.section-date{
	width: 140px;
}

.section-time{
	width: 370px;
}

.col-head{
	background-color: #8b00ff;
	color: white;
	height: 10%;
	display: flex;
	justify-content: center;
	align-items: center;
	font-weight: bold;
}

.col-body{
	padding: 12px 24px 0px 24px;
	height: 85%;
}

.tap-menu{
	width: 100%;
	margin-bottom: 10px;
}

.movie-section{
	display: flex;
	align-items: center;
	gap: 10px;
}


.movie-list > ul > li{
	padding-top: 7px;
	padding-bottom: 7px;
}

.movie-list > ul > li:hover{
	background-color: #fdd000;
	cursor: pointer;
}


.movie-title{
	font-weight: bold;
	font-size: 17px;
}

.theater-list-section > ul > li:hover{
	background-color: #fdd000;
	cursor: pointer;
}


.date{
	text-align: center;
	overflow-y: auto;
	white-space: nowrap;
	height: 100%;
	text-align: center;
}

.date::-webkit-scrollbar {
	width:6px;
}

.date::-webkit-scrollbar-thumb {
    background-color: gray;
    border-radius: 10px;
 }


.year{
	margin-top: 10px;
	font-size: 13px;
	color: #666;
	font-weight: bold;
}

.month{
	font-size: 33px;
	color: #666;
	font-weight: bold;
	margin-bottom: 8px;
}

.day{
	color: #333;
	cursor: pointer;
	height: 33px;
	padding: 10px 16px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}


.date > ul > li.day:hover{
	background-color: #fdd000;
	cursor: pointer;
}


.day-sun {
	color: #cf2f11;
}

.day-sat {
	color: #4491db;
}

.dayweek{
	font-size: 14px;
}

.dayd{
	font-weight: bold;
	font-size: 16px;
}

.theater-list{
	position: relative;
}

.theater-list-section{
	position: absolute;
	right: 0;
	top: 0;
}

.theater-list > ul > li {
	width: 109px;
	height: 31px;	
	text-align: right;
	padding-left: 9px;
	padding-right: 9px;
	margin-bottom: 2px;
	background-color: #e6e4d9;
}



.theater-list-section{
	display: none;
}

.theater-list > ul > li.selected > div{
	display: block;
}

.theater-list > ul > li > a {
	vertical-align: middle;	
}

.theater-list-section > ul > li {
	width: 109px;
	height: 31px;	
	text-align: left;
	padding-left: 9px;
	padding-right: 9px;
	margin-bottom: 2px;
	font-weight: bold;
}

.theater-list-section > ul > li > a {
	vertical-align: middle;		
}


.theater-time{
	border-bottom: 2px solid #666;
	margin-bottom: 12px;
}

.theater-time > ul > li{
	width: 103px;
	height: 25px;
	display: inline-block;
	margin-bottom: 8px;
}


.theater-time > span{
	font-weight: bold;
	padding-bottom: 6px;
}

.theater-time > ul{
	margin-top: 8px;
	margin-bottom: 10px;
}

.theater-time > ul > li > button{
	width: 100%;
	height: 100%;
	background: none;
	border: none;
}

.theater-time > ul > li > button > span.time{
	border: 1px solid #666;
	padding: 2px 6px;
	font-weight: bold;
	float: left
}

.theater-time > ul > li > button > span.time:hover{
	background-color: #fdd000;
	cursor: pointer;
}

.theater-time > ul > li > button > span.count{
	float: left;
	padding-top: 3px;
	padding-left: 3px;
}
