*{
	padding: 0px;
	margin: 0px;
	box-sizing: border-box;
	
	font-family: "Noto Sans KR", sans-serif;
 	font-optical-sizing: auto;
 	font-weight: <weight>;
 	font-style: normal;
}

ul{
	padding: 0px;
	margin: 0px;
	list-style: none;
}

a{
	text-decoration: none;
	color: black;
}

.btn{
	border: none;
	background-color: none;
	cursor: pointer;
}


.ticket-seat-cotainer{
	
	width: 1100px;
}

.seat-head{
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 40px;
	color: white;
	background-color: #8b00ff;
	font-size: 18px;
	font-weight: bold;
}

.seat-body{
	width: 100%;
	height: 600px;
}

.screen-info{
	width: 100%;	
	height: 150px;
	padding-top: 20px;
	padding-bottom: 5px;
	background-color: #f2f0e5;
}

.screen-info-person{
	float: left;
	width: 40%;
	height: 100%;
	padding-left: 15px;
	border-right: 2px solid #666;
	padding-top: 10px;
}

.person-count{
	display: flex;
	margin-bottom: 10px;
}

.person-count > span{
	width: 80px;
	height: 22px;
}

.person-count > ul > li > button {
	width: 23px;
	height: 23px;
	border: 1px solid #666;
	background-color: rgba(0,0,0,0);
	font-size: 16px;
	font-weight: bold;
	text-align: center;
}

.person-count > ul > li > button:hover {
	background-color: #fdd000;
}

.theater-info{
	float: left;
	width: 55%;
	height: 100%;
	padding-left: 20px;
}

.theater-minimap{
	width: 100%;
	height: 500px;
	display: flex;
	align-items: center;
	flex-direction: column;
	
}

.seat{
	position: relative;
	width: 300px;
	height: 300px;
}

.seat > div.row{
	width: 100%;
	height: 20px;
	position: absolute;
	display: flex;
}

.seat > div.row > div.seat-group{
	width: 100%;
	height: 100%;
}

.seat > div.row > div.seat-group > div{
	position: absolute;
	width: 15px;
	height: 16px;
}