@charset "UTF-8";

#myConfirm--container {
	max-width: 1200px;
	width: 100%;
	height: 800px;
	margin-top: 50px;
}

.myConfirm--main{
    display: flex;
    margin-top: 70px;
    height: 700px;
}

.myConfirm--category {
	width: 150px;
	height: 200px;
}

.myConfirm--category a{
	margin-top: 13px;
}

.myConfirm--myEdit{
	background: #fdd000;
}

.myConfirm--myEdit a{
	color: white;
	text-decoration: none;
	
}

.myConfirm--myMovie, .myConfirm--myProduct, .myConfirm--myStamp, .myConfirm--myReview, .myConfirm--myEdit {
	display: flex; 
	transition-duration: 0.3s;
	justify-content: center; /* 가로 중앙 정렬 */
	align-items: center;     /* 세로 중앙 정렬 */
	height: 50px;
    min-width: 150px;
}

.myConfirm--myMovie:hover, .myConfirm--myStamp:hover, .myConfirm--myReview:hover, .myConfirm--myProduct:hover {
	background: #fdd000;
}

.myConfirm--myMovie a, .myConfirm--myStamp a, .myConfirm--myReview a, .myConfirm--myProduct a {
	transition-duration: 0.3s;
	color: black;
	text-decoration: none;
}

.myConfirm--myMovie:hover a, .myConfirm--myStamp:hover a, .myConfirm--myReview:hover a, .myConfirm--myProduct:hover a {
	color: white;
}

.myConfirm--content{
    margin-left: 50px;
}

.myConfirm--title{
    width: 200px;
}

.myConfirm--confirmbox{
	position: relative;
	width: 750px;
	height: 200px;
	border: 2px solid #fdd000;
	border-radius: 10px;
	text-align: center;
	margin-top: 60px;
}

.myConfirm--confirmbox form{
	position: absolute;
	top: 30%; 
	left: 30%;
}

.myConfirm--confirmbox input[type="submit"] {
	position: absolute;
    width: 70px;
	padding: 10px;
	left: 32%;
	border: none;
	border-radius: 10px;
	background: #fdd000;
	color: white;
}
