@charset "UTF-8";

#myReview--container {
	max-width: 1200px;
	width: 100%;
	height: 2100px;
	margin-top: 50px;
}

.myReview--main{
    display: flex;
    margin-top: 70px;
    height: 700px;
}

.myReview--category {
	width: 150px;
	height: 200px;
}

.myReview--category a{
	margin-top: 13px;
}

.myReview--myReview{
	background: #fdd000;
}

.myReview--myReview a{
	color: white;
	text-decoration: none;
}

.myReview--myMovie, .myReview--myProduct, .myReview--myStamp, .myReview--myEdit, .myReview--myReview {
	display: flex; 
	transition-duration: 0.5s;
	justify-content: center; /* 가로 중앙 정렬 */
	align-items: center;     /* 세로 중앙 정렬 */
	height: 50px;
    min-width: 150px;
}

.myReview--myMovie:hover, .myReview--myProduct:hover, .myReview--myStamp:hover, .myReview--myEdit:hover {
	background: #fdd000;
}

.myReview--myMovie a, .myReview--myProduct a, .myReview--myStamp a, .myReview--myEdit a {
	transition-duration: 0.5s;
	color: black;
	text-decoration: none;
}

.myReview--myMovie:hover a, .myReview--myProduct:hover a, .myReview--myStamp:hover a, .myReview--myEdit:hover a {
	color: white;
}

.myReview--content{
    margin-left: 50px;
}

.myReview--title{
    width: 170px;
}

.myReview--reviewul{
    list-style-type: none;
    padding: 0;
    margin-top: 60px;
    width: 900px;
}

.myReview--movieinfo{
    display: flex;
}

.myReview--reviewimg{
	width: 80px;
    cursor: pointer;
}

.myReview--movietitle{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 20px;
}

.myReview--movietitle p{
    font-size: 20px;
    font-weight: bold;
    margin: 0;
}

.myReview--score{
	display: flex
}

#myReview--star{
    color: #fdd000;
    margin: 0;
    margin-left: 16px;
    margin-top: 5px;
}

#myReview--like{
	margin-top: 10px; 
	margin-left: 10px;
}

.myReview--count{
	margin-top: 7px; 
	margin-left: 2px;
	font-size: 15px;
}

.myReview--review{
    display: flex;
    align-content: center;
    font-weight: 450;
    align-items: center;
    justify-content: space-around;
}

.myReview--review p{
    margin: 0;
    width: 800px;
}

#reviewDeletelBtn{
    cursor: pointer;
    margin-left: 10px;
    width: 30px;
    height: 30px;
    border: 2px solid rgb(85, 85, 85);
    color: rgb(85, 85, 85);
    border-radius: 10px;
    align-content: center;
    text-align: center;
}

#reviewdate{
    margin-left: 16px;
    color: rgb(163, 163, 163);
    font-size: 14px;
}