<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.ss.cinema.mappers.mypage.myReviewMapper">

	<resultMap type="ReviewDTO" id="ReviewResultMap">
		<id property="reviewNo" column="REVIEW_NO" />
		<result property="reviewMemberId" column="REVIEW_MEMBER_ID" />
		<result property="reviewMovieNo" column="REVIEW_MOVIE_NO" />
		<result property="reviewContent" column="REVIEW_CONTENT" />
		<result property="reviewWriteDate" column="REVIEW_WRITE_DATE" />
		<result property="reviewStarRating" column="REVIEW_STAR_RATING" />
		<result property="reviewLikeCount" column="REVIEW_LIKE_COUNT" />
	</resultMap>
	
	<resultMap type="MyReviewDTO" id="myReviewResultMap">
		<id property="reviewNo" column="REVIEW_NO" />
		<result property="movieTitle" column="MOVIE_TITLE" />
		<result property="movieMainImage" column="MOVIE_MAIN_IMAGE" />
		<result property="reviewContent" column="REVIEW_CONTENT" />
		<result property="reviewLikeCount" column="REVIEW_LIKE_COUNT" />
		<result property="reviewStarRating" column="REVIEW_STAR_RATING" />
		<result property="reviewWriteDate" column="REVIEW_WRITE_DATE" />
	</resultMap>
	
	
	<insert id="writeReview">
		INSERT INTO REVIEW(REVIEW_MEMBER_ID, REVIEW_MOVIE_NO, REVIEW_CONTENT, REVIEW_STAR_RATING)
		VALUES(#{id}, #{movieNo}, #{reContent}, #{star})
	</insert>
	
	<select id="getReview" resultMap="ReviewResultMap" parameterType="String">
		SELECT *
		FROM REVIEW
		WHERE REVIEW_MEMBER_ID = #{id}
	</select>
	
	<select id="getPageReview" resultMap="myReviewResultMap">
	<![CDATA[
		SELECT *
		FROM (
		    SELECT
		      a.*, ROWNUM rnum
		    FROM (
		        SELECT
		        	r.REVIEW_NO,
		        	m.MOVIE_TITLE,
		        	m.MOVIE_MAIN_IMAGE,
		        	r.REVIEW_CONTENT,
		        	r.REVIEW_LIKE_COUNT,
		        	r.REVIEW_STAR_RATING,
		        	r.REVIEW_WRITE_DATE
		        FROM
		            REVIEW r
		            JOIN MOVIE m ON r.REVIEW_MOVIE_NO = m.MOVIE_NO
		        WHERE
		            r.REVIEW_MEMBER_ID = #{id}
		        ORDER BY
            		r.REVIEW_WRITE_DATE DESC
		    )a
		    WHERE ROWNUM <= #{limit} + #{offset}
		)
		WHERE rnum > #{offset}
	]]>
	</select>
	
	<delete id="deleteReview" parameterType="int">
		DELETE FROM REVIEW
		WHERE REVIEW_NO = #{no}
	</delete>
	
</mapper>